<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite One</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c5f0ba">  <td>16/12/12 11:01:27</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;email_sms_alert.beforeTest()[pri:0, instance:Testcases.email_sms_alert@5d7106d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1155041113</td>   <td></td> </tr>
<tr bgcolor="c5f0ba">  <td>16/12/12 11:01:30</td>   <td>2736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="email_sms_alert.payment_alerts()[pri:0, instance:Testcases.email_sms_alert@5d7106d]">payment_alerts</td> 
  <td>pool-1-thread-1@1139924118</td>   <td></td> </tr>
</table>
