<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<<<<<<< HEAD
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88e6a4">  <td>16/06/21 15:13:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MD_Read_Excel.MD_Read_Excel_custom_line_item()[pri:0, instance:Testcases.MD_Read_Excel@580e781f]">MD_Read_Excel_custom_line_item</td> 
  <td>main@934477254</td>   <td></td> </tr>
<tr bgcolor="88e6a4">  <td>16/06/21 15:13:24</td>   <td>790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MD_Read_Excel.MD_Read_Excel_page()[pri:0, instance:Testcases.MD_Read_Excel@580e781f]">MD_Read_Excel_page</td> 
  <td>main@934477254</td>   <td></td> </tr>
=======
>>>>>>> f7955820e8afcf321c6b51c6f8283e56d5837f85
</table>
